@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap");

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonicons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'icons';
  src: url("fonts/icons.woff") format("woff"), url("fonts/icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-phone:before {
  content: "\e900";
}

/*Обнуление*/

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

body {
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body.lock {
  overflow: hidden;
}

li,
a,
button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
}

._container {
  max-width: 1358px;
  margin: 0 auto;
  padding: 0 15px;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  display: none;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-list {
  overflow: hidden;
}

.slick-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slick-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-slider .slick-dots li {
  margin: 0 6px;
  padding: 100px 0px 0px 0px;
}

.slick-slider .slick-dots li button {
  font-size: 0;
  width: 11px;
  height: 11px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #c8c8c8;
}

.slick-slider .slick-dots li.slick-active button {
  background-color: #a9afb3;
}

.btn-link {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  line-height: 46px;
  height: 46px;
  text-align: center;
  color: #fae9d6;
  border: 1px solid #fff;
  border-radius: 0px 50px 50px 0px;
  padding: 0 42px;
  white-space: nowrap;
  overflow: hidden;
}

.btn-link__gradient {
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, right top, from(#e66465), to(#9198e5));
  background: -o-linear-gradient(bottom left, #e66465, #9198e5);
  background: linear-gradient(to top right, #e66465, #9198e5);
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  height: 35px;
  padding: 0px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/select.svg") center/100% no-repeat;
  margin: 0px 0px 0px 5px;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 34px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 16px;
  padding: 0px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
}

.slick-slider {
  position: relative;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slick-prev,
.slick-next {
  -webkit-transform: scale(0.5, 1);
      -ms-transform: scale(0.5, 1);
          transform: scale(0.5, 1);
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  background-color: transparent;
  top: 50%;
}

.slick-prev {
  left: -5%;
}

.slick-prev:before {
  content: "<";
}

.slick-next {
  right: -5%;
}

.slick-next:before {
  content: ">";
}

.header {
  position: absolute;
  width: 100%;
  z-index: 9999;
}

.header__wrapper {
  width: inherit;
  position: fixed;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.header._scroll .header__wrapper {
  background: #1e4844;
}

.header._scroll .header__menu {
  height: 90px;
}

.header__message {
  text-align: center;
  background-color: #332b5b;
  padding: 6px 0;
  min-height: 32px;
}

.header__message a {
  color: #fff;
  font-size: 14px;
  line-height: 19px;
}

.menu {
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 115px;
  font-size: 16px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 0 73px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
}

.menu__list > * + * {
  margin: 0px 0px 0px 10px;
}

.menu__link {
  color: #fff;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.menu__link:hover {
  color: #398981;
}

.menu > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.menu__cart {
  text-align: end;
}

.icon-menu {
  display: none;
}

.icon-menu__item {
  display: none;
}

.footer {
  background-color: #c2d8cc;
}

.footer__row > * {
  padding: 32px 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-footer__list {
  margin-bottom: 7px;
}

.menu-footer__link {
  font-size: 23px;
  line-height: 30px;
  color: #1e4844;
}

.menu-footer__link:hover {
  mix-blend-mode: hard-light;
}

.menu-footer__icons {
  margin-bottom: 35px;
}

.menu-footer__cards {
  margin-bottom: 66px;
}

.menu-footer__cards img {
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

.menu-footer__sign {
  font-size: 14px;
  line-height: 19px;
  color: #1e4844;
}

.subcribe-footer {
  background: #1e4844;
  min-height: 600px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 64px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subcribe-footer__container {
  max-width: 870px;
  margin: 0 auto;
  padding: 0 15px;
}

.subcribe-footer__title {
  font-size: 23px;
  font-size: calc(19.16667px + 3.83333 * ((100vw - 320px) / 1600));
  line-height: 30px;
  color: #c2d8cc;
}

.subcribe-footer__subtitle {
  font-size: 16px;
  font-size: 16px;
  font-size: calc(13.33333px + 2.66667 * ((100vw - 320px) / 1600));
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 14px;
}

.form {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.form__container {
  max-width: 870px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.form__input {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 10px;
}

.form__input input {
  -webkit-transition: border-bottom 0.3s;
  -o-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
  width: 100%;
  background: transparent;
  border-bottom: 2px solid #fff;
  padding-bottom: 6px;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}

.form__input input.err {
  border-image-source: linear-gradient(to left, red, red);
  border-image-slice: 1;
  border-width: 2px;
}

.form__button button {
  background: transparent;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  height: 26px;
  line-height: 26px;
}

.bottom-subcribe {
  background-color: #fae9d6;
}

.bottom-subcribe__container {
  max-width: 870px;
  margin: 0 auto;
  padding: 0 15px 65px 15px;
}

.bottom-subcribe::before {
  display: block;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  height: 300px;
  background: url("../img/footerVector.png") repeat-x bottom center, #1e4844;
  z-index: 0;
}

.bottom-subcribe__title {
  font-weight: bold;
  font-size: 23px;
  font-size: 23px;
  font-size: calc(19.16667px + 3.83333 * ((100vw - 320px) / 1600));
  line-height: 30px;
  color: #1e4844;
  white-space: nowrap;
  -ms-flex-preferred-size: 340px;
      flex-basis: 340px;
}

.bottom-subcribe__text {
  font-size: 14px;
  font-size: calc(11.66667px + 2.33333 * ((100vw - 320px) / 1600));
  line-height: 19px;
  color: #1e4844;
}

.fullscreen-bg {
  font-size: 20px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.fullscreen-bg__brands {
  width: 100%;
  height: 131px;
  padding: 0 102px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #c2d8cc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.fullscreen-bg__brands div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.fullscreen-bg__body {
  background: url("../img/bg.jpg") no-repeat 20% center/cover;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.fullscreen-bg__body:after {
  content: "";
  height: 20%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #c2d8cc;
  -webkit-clip-path: url("#wave");
          clip-path: url("#wave");
  margin-bottom: -1px;
}

.fullscreen-bg__btn {
  position: relative;
  z-index: 3;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.fullscreen-bg__btn:hover .btn-link__gradient {
  width: 100%;
}

.fullscreen-bg__container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
  text-align: start;
}

.fullscreen-bg__content {
  width: 75%;
}

.fullscreen-bg__title {
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  font-size: calc(35px + 7 * ((100vw - 320px) / 1600));
  line-height: 47px;
  color: #fff;
  margin: 0px 0px 20px 0px;
}

.fullscreen-bg__text {
  font-size: 19px;
  font-size: 19px;
  font-size: calc(15.83333px + 3.16667 * ((100vw - 320px) / 1600));
  line-height: 25px;
  margin: 0px 0px 20px 0px;
  width: 80%;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  font-size: 20px;
  color: #000;
}

.cdb__column {
  position: relative;
  padding-bottom: 59.75%;
  min-height: 500px;
}

.cdb__fullscreen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.cdb__content {
  width: 75%;
  position: absolute;
  z-index: 2;
  bottom: 0;
  padding: 64px;
  padding: calc(0px + 64 * ((100vw - 320px) / 1600));
  padding-left: 64px;
  padding-left: calc(32px + 32 * ((100vw - 320px) / 1600));
  padding-bottom: 64px;
  padding-bottom: calc(32px + 32 * ((100vw - 320px) / 1600));
}

.cdb__title {
  white-space: nowrap;
  font-size: 23px;
  font-size: 23px;
  font-size: calc(19.16667px + 3.83333 * ((100vw - 320px) / 1600));
  line-height: 25px;
  color: #fff;
  margin-bottom: 10px;
}

.cdb__text {
  font-size: 19px;
  font-size: calc(15.83333px + 3.16667 * ((100vw - 320px) / 1600));
  font-size: 19px;
  line-height: 26px;
  color: #fff;
  margin-bottom: 55px;
  margin-bottom: 55px;
  margin-bottom: calc(20px + 35 * ((100vw - 320px) / 1600));
}

.cdb__link {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.cdb__link_one:hover {
  background-color: #f96951;
}

.cdb__link_two:hover {
  background-color: #77104f;
}

.reviews {
  background: #1e4844;
  text-align: center;
  padding: 60px;
  padding: calc(30px + 30 * ((100vw - 320px) / 1600));
}

.reviews__label {
  font-weight: bold;
  font-size: 19px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 65px;
  margin-bottom: calc(16.25px + 48.75 * ((100vw - 320px) / 1600));
}

.slider-reviews__title {
  font-size: 42px;
  font-size: calc(28px + 14 * ((100vw - 320px) / 1600));
  line-height: 47px;
  color: #c2d8cc;
  margin-bottom: 65px;
  margin-bottom: calc(16.25px + 48.75 * ((100vw - 320px) / 1600));
  font-family: "Roboto";
}

.slider-reviews__title:before {
  content: open-quote;
}

.slider-reviews__title:after {
  content: close-quote;
}

.slider-reviews__text {
  font-size: 19px;
  line-height: 26px;
  color: #c2d8cc;
  text-align: center;
  margin-bottom: 30px;
  padding: 0 83px 0 64px;
  padding-left: 64px;
  padding-left: calc(16px + 48 * ((100vw - 320px) / 1600));
  padding-right: 83px;
  padding-right: calc(20.75px + 62.25 * ((100vw - 320px) / 1600));
  font-size: 19px;
  font-size: calc(15px + 4 * ((100vw - 320px) / 1600));
}

.slider-reviews__sign {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;
}

.block {
  background-color: #332b5b;
}

.block__img {
  position: relative;
  padding: 0px 0px 50% 0px;
}

.block__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.block__body {
  color: #fae9d6;
}

.block__title {
  margin: 0px 0px 12px 0px;
  font-weight: bold;
  font-size: 42px;
  line-height: 47px;
}

.block__text {
  font-size: 19px;
  line-height: 26px;
  margin-bottom: 30px;
}

.block-first {
  background: #c15244;
  padding: 30px 0;
}

.block-first__title {
  font-size: 42px;
  font-size: calc(28px + 14 * ((100vw - 320px) / 1600));
}

.block-first__img {
  overflow: hidden;
  border-radius: 223px 0px 0px 223px;
}

.block-first p {
  margin-bottom: 15px;
}

.block-first__content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-second__title {
  font-size: 42px;
  font-size: calc(35px + 7 * ((100vw - 320px) / 1600));
}

.block-second__text {
  font-size: 19px;
  font-size: calc(15.83333px + 3.16667 * ((100vw - 320px) / 1600));
}

.block-second__column p {
  font-size: 23px;
  font-size: calc(19.16667px + 3.83333 * ((100vw - 320px) / 1600));
}

.block-second__content {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-second__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.block-second__body {
  padding: 48.33333px 32.5px;
}

.block-second__subtext {
  margin-bottom: 30px;
  width: 66.6%;
}

.block-second__column p {
  margin-bottom: 10px;
  font-size: 23px;
  line-height: 25px;
  color: #fae9d6;
  max-width: 273px;
  overflow: hidden;
}

.block-second__link:hover {
  background-color: #880345;
}

.stress {
  background: #9b9ac7;
  padding: 32px 0;
}

.stress__title {
  font-weight: bold;
  font-size: 42px;
  font-size: calc(28px + 14 * ((100vw - 320px) / 1600));
  line-height: 47px;
  text-align: center;
  color: #332b5b;
  margin-bottom: 58px;
}

.stress__row {
  text-align: center;
}

.stress__content {
  display: none;
}

.stress__list {
  margin-bottom: 40px;
}

.stress__list svg {
  position: relative;
  bottom: -2px;
  -webkit-transform: scaleY(1.05);
      -ms-transform: scaleY(1.05);
          transform: scaleY(1.05);
}

.stress__list li {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #fff;
  height: 65px;
  line-height: 65px;
  max-width: 526px;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}

.stress__list li:hover {
  background: #da6a66;
}

.stress__link {
  font-size: 19px;
  line-height: 26px;
  color: #fff;
}

.stress__img {
  margin-bottom: 35px;
  overflow: hidden;
  width: 300px;
  margin: 0 auto;
}

.stress__img img {
  border-radius: 150px 150px 0 0;
  max-width: 100%;
}

.stress__text {
  font-size: 19px;
  line-height: 26px;
  color: #332b5b;
  padding: 86px;
  padding: calc(10px + 76 * ((100vw - 320px) / 1600));
}

.press {
  background-color: #fae9d6;
  text-align: center;
  padding: 32px 0 16px 0;
}

.press__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #1d1b29;
  margin: 0 0 40px 0;
}

.press__img {
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.press__img > div:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 183px;
          flex: 0 0 183px;
  padding: 0 7px 0 0;
}

.press__img > div:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 125px;
          flex: 0 0 125px;
  padding: 0 0 0 7px;
}

.press__block {
  height: 40vh;
  width: calc(100% - 30vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.press__item {
  border: 1px solid #1e4844;
  border-bottom: none;
  width: 7%;
  height: 100%;
  margin: 0 10px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.press__item img {
  max-width: 170%;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.press__item a {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  height: 20px;
  bottom: 25px;
  left: 0;
  font-family: Roboto;
  font-size: 13px;
  line-height: 12px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
  color: #1e4844;
  opacity: 0;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.press__item:nth-child(1),
.press__item:nth-child(6) {
  height: 75%;
}

.press__item:nth-child(4),
.press__item:nth-child(7) {
  height: 70%;
}

.press__item.active {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.press__item.active a {
  opacity: 1;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.press__item.active img {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.press__separator {
  border: 1px solid #000;
  height: 32px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.press__quote p {
  display: none;
  font-size: 26px;
  font-size: 26px;
  font-size: calc(17.33333px + 8.66667 * ((100vw - 320px) / 1600));
  line-height: 29px;
  color: #1e4844;
}

.press__quote p:before {
  content: open-quote;
}

.press__quote p:after {
  content: close-quote;
}

.press__line {
  position: relative;
}

.press__line img {
  margin: 20px 0 0 0;
  max-width: 100%;
}

.line-text {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 8px;
  top: 8px;
  top: calc(-8px + 16 * ((100vw - 320px) / 1600));
  font-size: 16px;
  font-size: calc(9px + 7 * ((100vw - 320px) / 1600));
  line-height: 21px;
  color: #1e4844;
  text-transform: uppercase;
}

.wave {
  position: absolute;
  bottom: 200px;
  height: 200px;
  z-index: 999;
}

.mint-back {
  background-color: #c2d8cc;
  fill: #c2d8cc;
  color: #1e4844;
}

@media (min-width: 620px) {
  .form__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .form__input {
    margin-right: 32px;
  }
}

@media (min-width: 751px) {
  .fullscreen-bg__content {
    width: 50%;
  }
}

@media (min-width: 767px) {
  .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .block__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .block__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-transform: translate(-100%, 0px);
        -ms-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
  }

  .block__img img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .block__body {
    width: 50%;
  }

  .block-second__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .block-second__column p {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .block-second__column p:not(last-child) {
    padding: 0 20px 0 0;
  }

  .block-second__img {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .block-second__body {
    padding: 145px 65px;
  }
}

@media (min-width: 768px) {
  .bottom-subcribe__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .block-first {
    padding-bottom: 265px;
    padding-bottom: calc(0px + 265 * ((100vw - 320px) / 1600));
  }

  .block-first__body {
    padding-right: 80px;
    width: 50%;
  }

  .press {
    padding: 64px 0 32px 0;
  }
}

@media (min-width: 867px) {
  .stress {
    padding: 64px 0;
  }

  .stress__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .stress__row > * {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }

  .stress__img {
    margin-bottom: 70px;
  }
}

@media (min-width: 876px) {
  .cdb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .cdb__column {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .cdb__content {
    width: 75%;
  }
}

@media (min-width: 946px) {
  .footer__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .footer__left {
    -ms-flex-preferred-size: 33.4%;
        flex-basis: 33.4%;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }

  .footer__left {
    padding: 64px;
  }
}

@media (min-width: 1100px) {
  .fullscreen-bg__content {
    width: 33.3%;
  }
}

@media (min-width: 1200px) {
  .cdb__content {
    width: 50%;
  }
}

@media (max-width: 1328px) {
  .press__item a {
    font-size: calc(9px + 4 * ((100vw - 320px) / 1008));
  }

  .press__separator {
    height: calc(20px + 12 * ((100vw - 320px) / 1008));
  }
}

@media (max-width: 1058px) {
  .press__block {
    width: 100%;
  }

  .press__first,
  .press__last {
    display: none;
  }
}

@media (max-width: 946px) {
  .footer__left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer__right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .menu-footer__list {
    text-align: center;
  }

  .menu-footer__icons {
    text-align: center;
  }

  .menu-footer__cards {
    text-align: center;
    margin-bottom: 33px;
  }
}

@media (max-width: 836px) {
  .menu__list {
    display: none;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 30px;
  }

  .menu__list > * {
    margin: 0 0 30px 0;
  }

  .menu__body {
    display: block;
    position: fixed;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    -webkit-transition: -webkit-transform 0.6s;
    transition: -webkit-transform 0.6s;
    -o-transition: transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    background: #332b5b;
  }

  .menu__body.active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .menu__body.active .menu__list {
    display: block;
  }

  .icon-menu {
    display: block;
  }

  .icon-menu__item {
    display: block;
    position: relative;
    max-width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 21;
    left: -50px;
  }

  .icon-menu__item span {
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .icon-menu__item span:first-child {
    top: 0;
  }

  .icon-menu__item span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon-menu__item.active span {
    background-color: #fff;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  .icon-menu__item.active span:first-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
  }

  .icon-menu__item.active span:last-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 8px;
  }
}

@media (max-width: 768px) {
  .press__img {
    padding: 0;
  }

  .press__block {
    height: 55vw;
  }

  .press__item img {
    max-width: 280%;
  }

  .press__item.active img {
    max-width: 100%;
  }

  .press__item {
    margin: 0 5px;
  }
}

@media (max-width: 767px) {
  .slick-slider .slick-dots li {
    padding: 66.666px 0px 0px 0px;
  }

  .block-second__img {
    padding: 0 0 400px 0;
  }
}

@media (max-width: 600px) {
  .menu__cart {
    visibility: hidden;
    opacity: 0;
  }
}

@media (max-width: 425px) {
  .slick-slider .slick-dots li {
    padding: 33.333px 0px 0px 0px;
  }
}